body {
    font-family: Arial, sans-serif;
    background: #b1c3e4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 950px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.players-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.player-card {
    background: #cab7d9;
    padding: 15px;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    border: 3px solid transparent;
    transition: .25s;
}

.player-card.selected,
.pig-container.selected {
    border-color: #658cc5;
    transform: scale(1.05);
}

.avatar {
    width: 70px;
    height: 70px;
    background: #658cc5;
    border-radius: 50%;
    margin: auto;
}

.score {
    font-weight: bold;
    margin-top: 10px;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

button {
    width: 120px;
    margin: 6px auto;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background: #658cc5;
    color: white;
    cursor: pointer;
    transition: .20s;
}

button:hover {
    transform: scale(1.07);
}

.container .pig-container {
    display: block;
}

.pig-container {
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
    width: 220px;
    padding: 20px;
    background: #cab7d9;
    border-radius: 20px;
    border: 3px solid transparent;
    transition: .25s;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pig-icon {
    width: 100px;
}

.pig-score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}

.bet-section {
    margin-top: 30px;
    background: #e5e5f2;
    padding: 20px;
    border-radius: 15px;
}

.bet-players {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.bet-players label {
    padding: 8px 12px;
    background: #cab7d9;
    border-radius: 10px;
    cursor: pointer;
}

.bet-btn, .prize-btn {
    width: 200px;
    margin-top: 15px;
    background: #658cc5;
}
